@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #465b52;
}   

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #f90202;
    background-color: #E3E6F3;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;

}

button.white{
    font-size: 16px;
    font-weight: 600;
    padding: 13px 22px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ffffff;
    outline: none;
    transition: 0.3s;

}


body{
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #03f734;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#mobile .bar{
    display: none;
}

#hero{
    background-image: url("img/main.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:start;  
}

#hero h4{
    padding-bottom: 20px;
    padding-top: 40px;
}

#hero h1{
    color: #ffffff;
}

#hero h2{
    color: #fffbfd;
}

#hero p{
    color: #ff0000;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #000000;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


#hero button:hover{
    box-shadow: 20px 20px 54px rgba(237, 40, 6, 0.03);
    color: #00ff1a
}


#feature {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #03f734;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 54px rgba(3, 140, 232, 0.03);
    color: #0066ea
}

#feature  .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);

}

#feature .fe-box:nth-child(1) {
    background-color: #00ecf0;
}


#feature .fe-box:nth-child(2) {
    background-color: #e1ff00;
}

#feature .fe-box:nth-child(3) {
    background-color: #0dff00;
}

#feature .fe-box:nth-child(4) {
    background-color: #b6ff0b;
}

#feature .fe-box:nth-child(5) {
    background-color: #fc0000;
}

#feature .fe-box:nth-child(6) {
    background-color: #09ff90;
}


#feature .fe-box:nth-child(1) h6{
    background-color: #f02000;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #00e8f8;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #f800db;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #00ff33;
}


#feature .fe-box:nth-child(6) h6{
    background-color: #00a1c6;
}


#product1 {
    text-align: center;

}


#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #E3E6F3;
    border-radius: 28px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;

}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.10);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des span{
    color: #465b52;
    font-size: 12px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}


#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}    

#product1 .pro .des i{
    font-size: 12px;
    color: #debe04;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #0ea106;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 500;
    color: #00e8f8;
    border: 1px solid #E3E6F3;
    position: absolute;
    bottom: 20px;
    right: 50px;

}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4{
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 30px;
}

#banner h2{
    color: #ffffff;
    font-size: 70px;
    padding: 10px 0;
}

#banner h2 span{
    color: #7bff00;

}


#banner button:hover{
    background: #b6ff0b;
    color: #E3E6F3;
    
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 780px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b10.jpg");
    min-width: 780px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h2{
    color: #ffffff;
    font-size: 45px;
    font-weight: 800;
}

#sm-banner h4{
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;

}

#sm-banner span{
    color: #000205;
    font-size: 15px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 15px;
}


#sm-banner .banner-box:hover button{
    background: #0ea106;
    border: 1px solid #0ea106;
}


#sm-banner .banner-box2:hover button{
    background: #0ea106;
    border: 1px solid #0ea106;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}


footer p{
    font-size: 12px;
    
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #ffffff;
    font-size: 20px;
}

#page-header h2{
    font-size: 80px;
}


#pagination {
    text-align: center;
}


#pagination a {
    text-decoration: none;
    background-color: #0066ea;
    padding: 15px 20px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}


#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-evenly;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}


#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}


#prodetails .single-pro-details h2{
    font-size: 26px;
}


#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background: #088178;
    color: #fffbfd;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: 20px;
    font-style:inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#page-header.blog-header{
    background-image: url("img/banner/b19.jpg");
}


#blog{
    padding: 150px 150px 0;
}

#blog .blog-box{
    display:flex;
    align-items: center;
    position: relative;
    padding-bottom: 90px;

}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 460px;
    object-fit: cover;

}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 18px;
    color:#000205;
    font-weight: 700;
}

#blog .blog-details a:hover{
    color: #ff4400;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #999999;
    z-index: -9;
}

#page-header.about-header{
    background-image: url("img/about/banner.png");
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#page-header h2{
    padding-bottom: 15px;
}

#contact-details .details{
    width: 40%;

}


#contact-details .details span{
    font-size: 12px;
}


#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}


#contact-details .map iframe{
    width: 100%;
    height: 100%;
}


#form-details form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 450px;
}

#form-details form span{
    font-size: 12px;
}

#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px  solid #000000;
}


#form-details form button{
    background-color: #03f734;
    color: #ffffff;
}
















/* ################################################################################################################## */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
    
    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000000;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;

    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #banner h2{
        padding-top: 10px;
        font-size: 20px;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        padding-bottom: 30px;
    }


    #sm-banner .banner-box2{
        min-width: 100%;
        height: 30vh;
        padding-top: 30px;

    }

    
    /* contact page  */
    
    #form-details form{
        margin-left: 200px;
    }





}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    
    h1 {
        font-size: 38px;
        color: #ffffff;
    }
    
    h2{
        font-size: 32px;
        color: #00ff33;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    
    #feature {
        justify-content: space-evenly;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;

    }

    #product1 .pro {
        width: 100%
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;
    }

    #sm-banner .banner-box2{
        height: 40vh;
        margin-top: 20px;
    }

    #hero button {
        background-image: url(img/button.png);
        background-color: #ffffff;
        color: #000000;
        border: 0;
        border-radius: 40%;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }

    #hero h1{
        margin-top: 20px;
        color: #fc03e8;
        background-color: #ffffff;
        border-style:inset;
        border-radius: 40px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 30%;
        border-right-color: #fe0606;
        border-right-width: 20px;
        border-left-width: 12px;
        border-left-color: #1b35ff;

    }

    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }


    /* Blog page #################### */

    #blog {
        padding: 100px 20px 0 20px;
    }
    
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /* About page !!!!!!!!!!!!!!!!!!!!!!!! */

    #about-head {
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 16px;
    }

    #about-head div{
        padding-left: 0px;
    }

    #page-header h2{
        font-size: 50px;
    }

    /* Contact page */
    
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;

    }

    #contact-details .map{
        width: 100%;
    }

    /* #form-details{
       flex-wrap: wrap;
    } */

    #form-details form {
       width: 50%;
       margin-bottom: 25px;
       margin-right: 100px;
    }


}




